
body {
  line-height: 1.5;
  background: #383032;
  color: white;
  font-family: "Lao UI", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.loginbox {
    background: #f8f8f8;
    /*height: 400px;*/
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: 10px solid #222;
    box-shadow: 0px 0px 5px #000;
    text-align: center;
}

.topbanner {
    height: 90px;
    background: #ffffff;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: solid 1px #c0c0c0;
}

.toplogo {
    padding-top: 10px;
    height: 70px;
}

.inputarea {
    margin: 35px;
    margin-bottom: 10px;
}

.inputbox {
    font-size: 28px;
    padding: 10px;
    width: 80%;
}

.loginbutton {
    background: #005EB8;
    color: white;
    font-size: 28px;
    height: 60px;
    width: 160px;
    border: 2px solid #006080;
    margin: 25px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

.loginbutton:hover {
    background: #0072CE;
    box-shadow: 0 0 10px #0cf;
}

.forgottenpassword {
    color: #383032;
    font-size: 12px;
    padding-bottom: 25px;
}

.forgottenpasswordlink {
    color: #383032;
    text-decoration: None;
}

.forgottenpasswordlink:hover {
    text-decoration: Underline;
}

.errortext {
    color: red;
    /*visibility: hidden;*/
}

.footer {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: solid 1px #c0c0c0;
    color: #383032;
    font-size: 12px;
    margin-top: 10px;
}

.footertext {
    vertical-align: middle;
    text-align: center;
    color: #383032;
    font-size: 12px;
    display: inline;
}

.footerlogo {
    vertical-align: middle;
    height: 30px;
    display: inline;

}