[Unit]
Description=uWSGI instance to serve Hippo IDP
After=network.target

[Service]
User=idpservice
Group=www-data
WorkingDirectory=/home/idpservice/open-id-connect/idp/web
Environment="PATH=/home/idpservice/open-id-connect/idp/web/bin"
ExecStart=/home/idpservice/open-id-connect/idp/web/bin/uwsgi --ini web.ini

[Install]
WantedBy=multi-user.target

